<div data-role="view" data-title="Gallery" data-layout="layout" data-model="app.viewmodels.gallery">
    <div data-role="header">
        <div data-role="tabstrip" class="top-tabstrip">
            <a data-role="button" data-icon="my">My</a>
            <a data-role="button" data-icon="bookmarks">Friends</a>
        </div>

        <select data-template="todo-item-template" style="width: 90%; height: 100%; margin:5%; padding-top:1%; padding-bottom: 1%; font-size: 2em" data-bind="source: options"></select>
    </div>

    <!--<ul data-role="listview" data-bind="source: ds"></ul>-->
    <ul data-role="listview" data-bind="source: ds" id="images"></ul>

    <div data-role="footer">
        <div data-role="tabstrip">
            <a href="views/welcome.html" data-icon="home">Home</a>
            <a href="views/add.html" data-icon="add">Search/Add</a>
            <a href="views/gallery.html" data-icon="gallery">Gallery</a>
        </div>
        <p>&copy; <span data-bind="text: getYear"></span> Team Morpheus</p>
    </div>
</div>
<!-- this is the template used by the listview. template items are automatically
     wrapped in an <li> by Kendo UI Mobile -->
<!--<script type="text/x-kendo-template" id="contactsTemplate">
    <a data-bind = "click: alert">#: data.name# </a>
</script>-->

<script type="text/x-kendo-template" id="todo-item-template">
    <option>
        #: data.name #
    </option>
</script>

